.algorithmTheme {
    margin-top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;


    // .algorithmTheme_content

    &_content.content {

        flex-direction: column;

        @include mdSize {
            flex-direction: row;

        }
    }

    &_textBlock {
        width: 100%;

        @include mdSize {
            width: 50%;

        }
    }

    // .algorithmTheme_title


    &_title {
        color: $dark-color;
        margin-bottom: 30px;
    }

    // .algorithmTheme_description

    &_description {
        font-size: 18px;
    }

    &_description.moveUpStart {
        transition-delay: .2s;
    }

    // .algorithmTheme_graphicBlock

    &_graphicBlock {
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        width: 300px;

        @include mdSize {
            width: 50%;
            max-width: 540px;
            margin: auto 0 0 30px;
        }

        @include smSize {
            width: 75%;
        }
    }

    &_info-description {
        display: block;
        margin-top: 30px;
        text-align: center;
    }

    &_info-description.active {
        transition-delay: .4s;
    }
}



.normal-fill,
.high-fill {
    width: 132px;
    height: 132px;

    @include mdSize {
        height: 152px;
        width: 152px;
    }
}


@keyframes revealNormalCircle {
    70% {
        stroke-dashoffset: 60;
    }

    100% {
        stroke-dashoffset: 80;
    }
}

@keyframes revealHighCircle {
    70% {
        stroke-dashoffset: 80;
    }

    100% {
        stroke-dashoffset: 125;
    }
}

.cirlce-num {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

.cirlce-num.moveUpStart.active {
    transition-delay: .2s;
}

.cirlce-sec {
    display: block;
    width: 100%;
    text-align: center;
    height: auto;
}

.cirlce-sec.moveUpStart.active {
    transition-delay: .3s;
}



.graphBlock {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 346px;

    @include mdSize {
        width: 50%;
        margin: auto 0 0 30px;
    }
}

.graphBlock_first, .graphBlock_second {
    display: flex;
    flex-direction: column;
}

.first_block-wrapper, .second_block-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 158px;


}

.basse-circle {
    width: 130px;height: 130px;
    border: 3px solid #eee;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mdSize {
        width: 150px;
        height: 150px;
    }
}

.draw-circle {

    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // top: 1px;


}

.first_block-wrapper.active .trimPathCircle1 {

    stroke-dasharray: 470;
    stroke-dashoffset: 471;
    animation: revealNormalCircle 3s ease forwards;

}

.second_block-wrapper .trimPathCircle2 {
    stroke-dasharray: 470;
    stroke-dashoffset: 471;
    animation: revealHighCircle 3s ease forwards;

}