$fs-small: 18px;
$fs-middle: 20px; 
$fs-h1-desk: 64px;
$fs-h1-mob: 32px;
$fs-xsm: 14px;


$primary-color: #fff;
$deepBlue-color: #1B3CC8;
$lightBlue-color: #164BC9;
$dark-color: #000;
$grey-color: #E0E0E0;